<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
      <!-- Include Bootstrap for styling -->
        <link rel="stylesheet"
        href=
        "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- Include the Bootstrap Table CSS
        for the table -->
        <link rel="stylesheet" 
        href=
        "https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
    <center> <h1>Dashboard</h1> </center>
    No. of API hits: {{ count }}
    <br>
    All Data:

    {{ data }}
    
</body>
</html>